body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #4B6587;
  font-family: 'Sacramento', cursive;
  font-size: 5.26rem;
  /*100%=16px=1em*/
  margin: 50px auto 0 auto;
  }

h2 {
  color: #4B6587;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #4B6587;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-family: 'Merriweather', sans-serif;
  color: #C8C6C6;
  font-weight: bold;
}

hr{
  width: 5%;
  color: #C8C6C6;
  border-style: none;
  border-top: dotted;
  border-width: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

a{
  color: #C8C6C6;
}

a:hover{
  color: #F0E5CF
}

.topcontainer {
  background-color: #F7F6F2;
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
}

.middle-container {
  padding-top: 20px;
}

.topcloud {
  position: absolute;
  right: 15%;
  top: 10%;
}

.drop1{
  position: absolute;
  right: 20%;
  top: 28%;
}
.drop3{
  position: absolute;
  right: 16%;
  top: 32%;
}
.drop5{
  position: absolute;
  right: 19%;
  top: 40%;
}
.drop2{
  position: absolute;
  left: 13%;
  bottom: 18%;
}
.drop4{
  position: absolute;
  left: 11%;
  bottom: 32%;
}
.drop6{
  position: absolute;
  left: 14%;
  bottom: 26%;
}

.bottomcloud {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.bigcloud {
  position: relative;
  top: 64px;
}

.footer-link{
  color:#F7F6F2;
  margin: auto 50px auto 50px;
  text-decoration: none;
}

.skill-row{
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.profile{
width: 50%;
margin: 100px auto 100px auto;
line-height: 2;
}

.skills_fig1 {width: 15%;
float: left;
margin-right: 30px;
}

.skills_fig2{
width: 15%;
float: right;
margin-left: 30px;
}
.contact-me{
  width: 50%;
  margin: auto;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  font-weight: bold;
  color: #F7F6F2;
  font-size: 20px;
  background: #4B6587;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position:relative;
  top: 60px;
}

.btn:hover {
  text-decoration: none;
}

.bottom-container{
  background-color: #4B6587;
  position: relative;
  margin-top: 150px;
  padding-top: 60px;
  padding-bottom: 10px;
}
